# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [ ]:
import pandas as pd
import numpy as np

# Seu código aqui
data = {'ano': [1900, 1920, 1940, 1960, 1980, 2000, 2020], 'anomalia termica': [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]}

df = pd.DataFrame(data)
series = pd.Series(np.array(df['anomalia termica']))

#### 2) Coloque os anos nos índices conforme a tabela.

In [ ]:
# seu código aqui
data = {'anomalia termica': [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]}
df = pd.DataFrame(data, index = [1900, 1920, 1940, 1960, 1980, 2000, 2020])
series = pd.Series(data=df['anomalia termica'], index=df.index)

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [ ]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
series = pd.Series(dic_temperaturas)

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [10]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
arr = np.random.normal(100, 10, (20,3))

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [13]:
#seu código aqui
df = pd.DataFrame(arr, columns=["primeira_coluna", "segunda_coluna", "terceira_coluna"])
df

    primeira_coluna  segunda_coluna  terceira_coluna
0        106.447918      100.035676       105.719153
1        105.903383      102.808875       100.685923
2        113.281424       90.700736        95.536505
3         83.729999      102.491745        95.743179
4         98.918422       95.670871       111.893257
5        109.873742       77.343074        95.742230
6        103.661940      110.150909       103.285780
7         98.660180       93.568449       103.210517
8        103.735823      107.003851        94.294962
9        102.842151       97.925146       106.595343
10        87.135470       89.820505       106.429311
11        94.639208      100.368394       114.275734
12       124.898901      102.189860       114.285839
13       113.669757       99.897351       102.097157
14       104.896717       90.756966       103.117049
15        92.787196      100.377407        98.365913
16        89.280686      105.033760       103.942866
17       108.766587       98.392143        97.790210
18        93.252459       94.481212        73.659632
19       110.715273       98.043484        97.988658

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [14]:
# seu código aqui
df["media"] = df.mean(axis=1)
df

    primeira_coluna  segunda_coluna  terceira_coluna       media
0        106.447918      100.035676       105.719153  104.067583
1        105.903383      102.808875       100.685923  103.132727
2        113.281424       90.700736        95.536505   99.839555
3         83.729999      102.491745        95.743179   93.988308
4         98.918422       95.670871       111.893257  102.160850
5        109.873742       77.343074        95.742230   94.319682
6        103.661940      110.150909       103.285780  105.699543
7         98.660180       93.568449       103.210517   98.479715
8        103.735823      107.003851        94.294962  101.678212
9        102.842151       97.925146       106.595343  102.454213
10        87.135470       89.820505       106.429311   94.461762
11        94.639208      100.368394       114.275734  103.094445
12       124.898901      102.189860       114.285839  113.791533
13       113.669757       99.897351       102.097157  105.221422
14       104.896717       90.756966       103.117049   99.590244
15        92.787196      100.377407        98.365913   97.176839
16        89.280686      105.033760       103.942866   99.419104
17       108.766587       98.392143        97.790210  101.649647
18        93.252459       94.481212        73.659632   87.131101
19       110.715273       98.043484        97.988658  102.249138

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [16]:
# seu código aqui
df["log_med"] = np.log(df["media"])
df

    primeira_coluna  segunda_coluna  terceira_coluna       media   log_med
0        106.447918      100.035676       105.719153  104.067583  4.645041
1        105.903383      102.808875       100.685923  103.132727  4.636017
2        113.281424       90.700736        95.536505   99.839555  4.603564
3         83.729999      102.491745        95.743179   93.988308  4.543170
4         98.918422       95.670871       111.893257  102.160850  4.626549
5        109.873742       77.343074        95.742230   94.319682  4.546690
6        103.661940      110.150909       103.285780  105.699543  4.660601
7         98.660180       93.568449       103.210517   98.479715  4.589851
8        103.735823      107.003851        94.294962  101.678212  4.621813
9        102.842151       97.925146       106.595343  102.454213  4.629416
10        87.135470       89.820505       106.429311   94.461762  4.548195
11        94.639208      100.368394       114.275734  103.094445  4.635646
12       124.898901      102.189860       114.285839  113.791533  4.734368
13       113.669757       99.897351       102.097157  105.221422  4.656067
14       104.896717       90.756966       103.117049   99.590244  4.601064
15        92.787196      100.377407        98.365913   97.176839  4.576532
16        89.280686      105.033760       103.942866   99.419104  4.599344
17       108.766587       98.392143        97.790210  101.649647  4.621532
18        93.252459       94.481212        73.659632   87.131101  4.467414
19       110.715273       98.043484        97.988658  102.249138  4.627412